{{ if .Title }}
  <figure>
    {{ if .Page.Site.Params.mediumZoom }}
      <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" data-zoomable data-zoom-src="{{ .Destination | safeURL }}">
    {{ else }}
      <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
    {{ end }}
    <figcaption>{{ printf "Fig: %s" .Title }}</figcaption>
  </figure>
{{ else }}
  {{ if .Page.Site.Params.mediumZoom }}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" data-zoomable data-zoom-src="{{ .Destination | safeURL }}">
  {{ else }}
    <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
  {{ end }}
{{ end }}
